*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container {
    min-height: 200px;
}

.card:hover {
    box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);   
    transition: 0.5s;
}

.Page_navigation {
    padding-top: 20;  
}

.pagination li {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgd(1 1 1 / 10%);
}

.pagination li a {
    color: #2c15fc;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 20px;
}